<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.course.store.factory.MyDruidDataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="store@sh-cynosdbmysql-grp-mqe4r0xo.sql.tencentcdb.com:29634"/>
                <property name="username" value="user"/>
                <property name="password" value="Tcu123456789"/>
            </dataSource>
        </environment>
    </environments>
</configuration>